
      * {
        padding: 0;
        margin: 0;
      }
      body {
        background-color: hsl(30, 38%, 92%);
        justify-content: center;

        display: flex;

        justify-content: center;
      }

      .box {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        margin-right: 10px;
        background-color: white;
        border-radius: 1rem 1rem 1rem 1rem;
        width: auto;

        max-width: max-content;
      }
      .svg {
        height: 23px;
        padding-right: 8px;
        position: relative;
      }
      img {
        height: 480px;
        border-radius: 16px 0 0rem 16px;
      }
      .text {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 23px;
      }
      .perfume {
        margin-bottom: 9px;
        font-family: "Courier New", Courier, monospace;
        font-weight: 600;
        font-size: 20px;
        color: grey;
      }
      .head {
        width: 11ch;
        margin-bottom: 10px;
        font-family: roboto;
        font-weight: 600;
        color: rgb(10, 10, 10);
      }

      .bodytext {
        background-color: white;
        width: 24ch;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: grey;
        font-size: 20px;
      }
      .prices {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        column-gap: 32px;
      }
      .pricenow {
        color: hsl(158, 36%, 37%);
        font-weight: 900;
        font-size: 36px;
      }
      .pricecut {
        font-size: 15px;
        text-decoration: line-through;
        font-weight: 600;
        color: gray;
        position: relative;
        top: 15px;
      }
      .cart {
        margin-top: 15px;
        font-size: 20px;
        background-color: hsl(158, 36%, 37%);
        color: white;
        display: flex;
        border-radius: 10px;
        padding: 14px 8px 15px 8px;
        justify-content: center;
      }
    