*{
    margin: 0;
    padding: 0;
    background-color #eceaff;
    /* border: 1px solid black; */
}
body{
    min-height: 100vh;
    /* background:rgb(255, 245, 228) ; */
}


.container{
    background-color: black;
  
    
}
.head1{
    margin-top:0rem ;
}
#logo{
   color: white;
   padding:0rem 0rem 0rem 9rem  ;
   font-size: 2rem;
   text-decoration:underline;
   animation: bounce; 
  animation-duration: 2.5s;

} 
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    border: 0.1px solid white;
    border-radius:10px ;
    padding:.4rem ;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
 li{
    display: inline-block;
    margin:2rem ;
}
.heading-page-inside{display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    font-size: 2.7rem;
    margin-top: 1.5rem;
    
       }
       .lists{
        display: flex;
flex-direction: column;

        justify-content: center;
        align-items: center;
         
    }
       
       .lists li{
        display: block;
        width: 40rem;
        padding: 2rem;
        border-radius: 2rem;
        border: 1px solid black;
        box-shadow: 5px 5px grey;
        font-size: 1.8rem;
       
       }
.lists li a{
    color: rgb(219, 108, 11);
    text-decoration: none;
    font-size: 2.5rem;
    
}
.lists li  a:hover{
    font-size: 2.8rem;
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  footer{
    height: 10rem;
    background-color: #555;
  }



@media(max-width:750px){
    nav {display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    #logo{padding:0rem 0rem 0rem 0rem; 
        margin-top: 2rem;
    }

        .heading-page-inside{display: flex;
            text-align: center;
            justify-content: center;
            /* align-items: center; */
            margin-top: 1.5rem;
            
               }
               
              
        H2{
width: 25rem;
height: 3rem;     
font-size: 2rem;
box-shadow: 3px 3px rgb(91, 91, 107);     
border: 1px solid grey;
border-radius: 1.9rem;
padding: 1.1rem;
margin: 1px 3px 1.5rem 3px ;


}
  .lists{
    /* margin: 0; */
    display: flex;
    line-height: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .lists li{
    width:22rem;
    margin: 0.5rem;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 4rem;
    box-shadow: 1.5px 1.5px rgb(166, 159, 159);
    padding: 1rem;
  }
  .lists li a {
    font-size: 1.5rem;
  }
  .lists li a:hover{
    font-size: 1.8rem;
  }