*{
    margin: 0;
    padding: 0;

    /* border: 1px solid green; */
    
}
body{
    
    height: 100vh;
    font-family: 'Inter', sans-serif;
    
}
.logo{
    height: 50px;
}

.topics{float: right;
    padding: 0 0px 0 60px;
    color:hsl(233, 8%, 79%);
    font-size: 24px;

}
.topics:hover{
    color:hsl(5, 85%, 63%);
}
.grid{ gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,427px);
    grid-template-rows: 130px auto 238px 238px;
    grid-template-areas: 
    "nav nav nav"

    "head head sidebar"
    "main middle sidebar"
    "bottomleft bottommid bottomright";
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: auto;
   

}

    
   .nav{
    grid-area: nav;
    
   }

.headimg{max-width: 100%;
    object-fit: fill;
    
    

}
.image{
    grid-area: head;
    
    }
.side{color: white;
    
    grid-area: sidebar;
    background-color: hsl(240, 100%, 5%);
    padding: 27px;
}
h2{
    color:  hsl(35, 77%, 62%);
    font-size: 30px;
}

h3{
    padding-top: 28px;
    
}

h1{
    width:10ch ;

}
a{
    text-decoration: none;
    color: white;
}
.para{
    color: hsl(233, 8%, 79%);
    width: 33ch;
    line-height: 26px;
    width: 33ch;
    border-bottom: 1px solid grey;
    padding-bottom: 28px;
    padding-top: 13px;
}
.istpara{
    width: 27ch;
    padding-right: 77px;
}
.lastpara{border-bottom: 0; 
    
}


.main{
    
    font-size: 67px;
    
    
    
}

.middlepara{
    padding-top: 10px0 ;
    border-bottom: none;
    width:39ch ;
    font-size: 18px;
    
}
.middle{
    
    width: max-content;
    padding-right: 19px;
    font-size: 16px;
    line-height: 19px;
    
    
    
}
.textsmall{
    color:  hsl(236, 13%, 42%);
    font-size: 16px;
}

.readme{
    width: max-content;
   background-color: hsl(5, 85%, 63%);
   color: white;
   padding:16px 29px 16px 29px;
   letter-spacing: 6px;
    text-decoration:none;
}
.goldlink:hover{
    color: hsl(35, 77%, 62%);
}
.readlink:hover{
color: hsl(240, 100%, 5%);
}
.orangelink{
    color: black;
    
}
.orangelink:hover{
    color: hsl(5, 85%, 63%);
}

/* bottom */

.number{padding: 0 0 20px 0px;
    width: fit-content;
font-size: 34px;
border-bottom: 0;
font-weight:700 ;
color:  hsl(233, 8%, 79%);
}
.bottomimg{
    height: 140px;
    padding-top: 20px;
}
.bottom{
    display: flex;
    flex-direction:row ;
}
h5{font-weight: 600;
    font-size: 23px;
    padding-bottom: 12px;
width: 25ch;
max-width: max-content;
}
.text{
    width: 24ch;
    padding:  20px 10px 20px 20px;
}

